:host {
    td {
        text-align: center;
        padding: 4px 8px;
    }
    .name {
        text-align: left;
        span {
            margin-right: 8px;
        }
    }
    .checkbox {
        text-align: left;
    }
}